$neutral-answer-button-color: rgba(255,255,255,0.2);
$correct-answer-button-color: rgba(50,200,50,0.5);
$wrong-answer-button-color: rgba(255,50,50,0.5);
$animation-duration: 300ms;

.multiplication::before {
    position: absolute;
    background: linear-gradient(135deg, rgba(36,176,255,0.6) 10%, rgba(0,45,135,0.6) 90%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
}

.multiplication {
    position: relative;
    height: 100%;
    background: url(../pictures/diagonal-noise.png) repeat #cfcfe6;
    font-family: 'Sriracha', cursive;
    color: white;

    .page {
        position: relative;
        text-align: center;

        h1 {
            padding: 14vmin 0;
            font-size: 10vmin;
        }

        .btn {
            position: relative;
            border-radius: 10vmin;
            cursor: pointer;
            background-color: $neutral-answer-button-color;
            box-shadow: inset 0px 0px 3vmin 0px rgba(255,255,255,0.6);
            font-size: 6vmin;
            color: white;
            padding: 2vmin 6vmin;
        }
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .control-bar {
        width: 100%;
        padding: 4vmin;
        z-index: 100;

        .icon-button {
            font-size: 8vmin;
            cursor: pointer;
            line-height: 0;
        }

        .control-text {
            font-family: 'Major Mono Display', monospace;
            font-size: 4vmin;
            background-color: rgba(255,255,255,0.3);
            padding: 2vmin;
            margin-left: 2vmin;
        }
    }

    .pulpit {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 98vmin;
        height: 98vmin;
        z-index: 1;

        .question {
            position: absolute;
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12vmin;
        }

        .answer-wrapper {
            position: absolute;
            width: 24vmin;
            height: 24vmin;
            transform: translate(-50%, -50%);

            .answer-button {
                position: absolute;
                width: 24vmin;
                height: 24vmin;
                border-radius: 50%;
                cursor: pointer;
                background-color: $neutral-answer-button-color;
                box-shadow: inset 0px 0px 3vmin 0px rgba(255,255,255,0.6);

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 10vmin;
                }
            }

            .correct {
                background-color: $neutral-answer-button-color;
                animation: multiplication-button-flip $animation-duration 100ms ease both, multiplication-button-turn-correct 1ms $animation-duration / 2 ease both;
            }

            .wrong {
                background-color: $neutral-answer-button-color;
                animation: multiplication-button-flip $animation-duration 100ms ease both, multiplication-button-turn-wrong 1ms $animation-duration / 2 ease both;
            }
        }
    }

    .show {
        opacity: 0.0;
        animation: multiplication-pulpit-show $animation-duration ease both;
    }

    .hide {
        opacity: 0.0;
        animation: multiplication-pulpit-hide $animation-duration ease both;
    }
}

@keyframes multiplication-button-turn-correct {
    0% {
        background-color: $neutral-answer-button-color;
    }

    100% {
        background-color: $correct-answer-button-color;
    }
}

@keyframes multiplication-button-turn-wrong {
    0% {
        background-color: $neutral-answer-button-color;
    }

    100% {
        background-color: $wrong-answer-button-color;
    }
}

@keyframes multiplication-button-flip {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes multiplication-pulpit-show {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes multiplication-pulpit-hide {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}