@inherits AnswerButtonBase

<div class="answer-wrapper" style="top: @(PositionTop)%; left: @(PositionLeft)%">
    <div class="@ButtonCssClass"
         @onclick="OnClicked">
        <span>@Answer</span>
    </div>
</div>
