@inherits FinishBase
@page "/multiplication/finish"

<div class="multiplication">
    <div class="page">

        <h1>multiplication</h1>

        <h2>@ContextProvider.Get().Score</h2>

        <button class="btn" @onclick="StartAnotherGame">
            START AGAIN
        </button>
    </div>
</div>
