
@using BrainRapidFusion.Multiplication.Components;
@inherits MultiplicationBase
@page "/multiplication"



<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>@Question</h3>
        </div>
        <div class="col-lg-6">
            @foreach (var answer in Answers)
            {
                <AnswerButton Answer="@answer.Item1" IsCorrect="answer.Item2" OnClickCallback ="@AnswerSelected" />
            }
        </div>
    </div>
</div>

