@inherits NewScoreBase
@page "/multiplication/new-score"

<div class="multiplication">
    <div class="@PulpitCssClass center-content">
        <div class="page">

            <h1>well done!</h1>

            <p>@ContextProvider.Get().Score points</p>

            <p>@IsNewBestScore</p>

            <TextButton Text="CONTINUE"
                        OnClicked="Continue"/>

        </div>
    </div>
</div>
