@inherits StartBase
@page "/multiplication/start"
@page "/"

<div class="multiplication">
    <div class="@PulpitCssClass center-content">
        <div class="page">

            <h1>multiplication</h1>

            <TextButton Text="START"
                        OnClicked="StartGame"/>

        </div>
    </div>
</div>
