@inherits StartBase
@page "/multiplication/start"
@page "/"

<div class="multiplication">
    <div class="@PulpitCssClass center-content">
        <div class="page">

            <h1>multiplication</h1>

            <div class="text-button" @onclick="StartGame">
                START
            </div>

        </div>
    </div>
</div>
