@inherits StartBase
@page "/multiplication/start"
@page "/"

<div class="multiplication">
    <div class="page">

        <h1>multiplication</h1>

        <button class="btn" @onclick="StartGame">
            START
        </button>
    </div>
</div>
