@inherits SummaryBase
@page "/multiplication/summary"

<div class="multiplication">
    <div class="header control-bar">
        <BackButton />
    </div>

    <div class="@PulpitCssClass center-content">
        <div class="page">

            <h1>your best scores:</h1>

            <ol>
                @foreach (var score in BestScores)
                {
                    <li>
                        @if(score > 0)
                        {
                            <span>@score</span> 
                        }
                        else
                        {
                            <span>&mdash;</span>
                        }
                    </li>
                }
            </ol>

            <TextButton Text="START AGAIN"
                        OnClicked="StartAnotherGame" />

        </div>
    </div>
</div>
